@font-face {
  font-family: "Lato-Light";
  src: url('../lato/fonts/Lato-Light.woff');
}

@font-face {
  font-family: "Lato-Regular";
  src: url('../lato/fonts/Lato-Regular.woff');
}

@font-face {
  font-family: "Lato-Medium";
  src: url('../lato/fonts/Lato-Medium.woff');
}

@font-face {
  font-family: "Lato-Black";
  src: url('../lato/fonts/Lato-Black.woff');
}

* { outline: none !important; }

body {
  margin: 0;
}

.anirandom-title {
  font-family: "Lato-Black";
  margin-bottom: 13vmin;
  line-height: 7.5vmin;
  margin-top: 2.5vmin;
  margin-left: 2.3vmin;
  font-size: 7.6vmin;
}

.anirandom-title a {
  text-decoration: none;
  color: #64D08F;
}

main {
  position: relative;
  height: 71.6vmin;
  width: 59.5vw;
  margin: auto;
  margin-top: 0;
}

/*
 * Auth
 */

.auth {
  position: absolute;
  top: 2.2vmin;
  right: 2.8vmin;
  text-align: right;
}

.auth .auth-text {
  font-family: "Lato-Regular";
  color: #6D6D6D;
  font-size: 3vmin;
  line-height: 3vmin;
  z-index: 101;
  position: absolute;
  float: right;
  right: 0;
  white-space: nowrap;
}

.auth .auth-text a {
  text-decoration: none;
  font-family: "Lato-Regular";
  color: #6D6D6D;
  z-index: 101;
  cursor: pointer;
}

.auth .auth-text a:not(:first-child) {
  margin-left: 2vmin;
}

.auth .auth-text a:hover {
  color: #020202;
}

.auth .auth-bubble {
  position: relative;
  top: 6vmin;
  left: 0;
  height: 0;
  z-index: 100;
  opacity: 0.0;
  transition: 0.3s ease;
  border-radius: 0.2vmin;
  box-shadow: 0vmin 0.1vmin 1vmin 0vmin rgba(0,0,0,0.10), 0vmin 1vmin 2vmin 0vmin rgba(52,52,52,0.06), 0vmin 1vmin 2vmin 0vmin rgba(52,52,52,0.03);
}

.auth .auth-bubble.initial-width-297px {
  width: 42.8vmin;
}

.auth .auth-bubble.initial-width-180px {
  width: 19vmin;
}

.auth[section] .auth-bubble {
  opacity: 1.0;
  background: #FCFCFC;
}

.auth[section=login] .auth-bubble {
  height: 36vmin;
}

.auth[section=signup] .auth-bubble {
  height: 51.7vmin;
}

.auth[section=logout] .auth-bubble {
  height: 7vmin;
}

.auth .auth-bubble .section {
  transition: 0.5s ease;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.0;
  z-index: -100;
}

.auth[section=login] .auth-bubble .section.login,
.auth[section=signup] .auth-bubble .section.signup {
  opacity: 1.0;
  z-index: 0;
}

.auth .auth-bubble .section .title {
  margin-top: 2.8vmin;
  font-family: "Lato-Medium";
  font-size: 3.5vmin;
  line-height: 3.5vmin;
  color: #6D6D6D;
  text-align: center;
}

.auth .auth-bubble .section form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2.6vmin;
}

.auth .auth-bubble .section form input[type="text"],
.auth .auth-bubble .section form input[type="email"],
.auth .auth-bubble .section form input[type="password"] {
  width: 33.2vmin;
  height: 5.4vmin;
  border-radius: 0.2vmin;
  margin-bottom: 1.9vmin;
  padding-left: 1.3vmin;
  background-color: #fffdfe;
  font-family: "Lato-Light";
  font-size: 2.6vmin;
  font-weight: 100;
  color: #cecece;
  border: 0.1vmin solid #E7E7E7;
}

.auth .auth-bubble .section form input[type="submit"] {
  width: 35vmin;
  height: 5vmin;
  border: none;
  border-radius: 0.2vmin;
  background-color: #809BBD;
  font-size: 2.5vmin;
  font-family: "Lato-Light";
  color: white;
  cursor: pointer;
}

.auth .auth-bubble .section .goto-button {
  position: absolute;
  right: 4vmin;
  bottom: 3vmin;
  font-family: "Lato-Medium";
  color: #6D6D6D;
  font-size: 2vmin;
  line-height: 1vmin;
  cursor: pointer;
  opacity: 0.8;
}

.auth .auth-bubble .section .goto-button:hover {
  opacity: 1.0;
}

.auth .auth-bubble .triangle {
  position: absolute;
  overflow: hidden;
  top: -10.8vmin;
  right: 0.8vmin;
  width: 11vmin;
  height: 10.8vmin;
}

.auth .auth-bubble .triangle::after {
  content: "";
  position: absolute;
  width: 7vmin;
  height: 7vmin;
  background: white;
  transform: rotate(45deg);
  top: 10.8vmin;
  left: 4vmin;
  box-shadow: 0 0 0.4vmin 0.2vmin rgba(0, 0, 0, 0.10);
}

.auth .auth-bubble .logout-text {
  text-align: left;
  position: absolute;
  font-family: "Lato-Regular";
  font-size: 2.6vmin;
  color: #6D6D6D;
  line-height: 3.1vmin;
  text-decoration: none;
  width: 16vmin;
  left: 2vmin;
  top: 1.9vmin;
}

.auth .auth-bubble .logout-text:hover {
  color: #292929;
}

.logo {
    margin-top: -0.5vw;
    border-top: 0.1vw solid #efefef;
    background-position: center;
    background-image: url("../images/logo.svg");
    height: 4.5vw;
    background-repeat: no-repeat;
    background-size: auto 72%;
    opacity: 0.5;
}