main .completed {
    font-family: "Lato-Regular";
    color: #5B5B5B;
}

main .completed {
    position: relative;
    margin-bottom: 0.3rem;
    height: 2.2rem;
}

main .completed h1 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    font-size: 1.75rem;
    font-weight: 300;
}

main .completed ul {
    position: absolute;
    top: 0;
    right: 64px;
    margin: 0;
    padding: 0;
}

main .completed ul li {
    display: block;
    float: right;
    font-family: "Lato-Medium";
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 1rem;
}

main section {
    position: relative;
    width: 800px;
    height: 180px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    transition: 0.3s ease;
}

main section .drop-down-more .more {
    position: absolute;
    top: 0.5vw;
    right: 2px;
    width: 1.8rem;
    height: 1.8rem;
    background: url("../images/more.svg");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.2s ease;
    opacity: 0.3;
}

main section:hover .drop-down-more .more { opacity: 1.0; }

main section .drop-down-more .bubble {
    height: 0;
    overflow: hidden;
    z-index: 100;
}

main section .drop-down-more.show .bubble {
    position: absolute;
    right: 28px;
    width: 167px;
    height: 59px;
    background: white;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.10), 0 1px 4px 0 rgba(52,52,52,0.12);
    margin-top: 12px;
    z-index: 100;
}

main section .drop-down-more.show .bubble .options {
    font-size: 1rem;
    margin-left: 9px;
    margin-bottom: 3px;
    font-family: "Lato-Regular";
    color: #6D6D6D;
    cursor: pointer;
}

main section .drop-down-more.show .bubble .options:hover { color: #020202; }

main section .drop-down-more.show .bubble .options.edit {
    margin-top: 9px;
}

main section .info-view .anime-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 100%;
    background-size: cover;
}

main section .info-view .anime-title {
    position: absolute;
    top: 0;
    left: 120px;
    height: 25px;
    font-family: "Lato-Regular";
    font-size: 1.5rem;
    color: #5B5B5B;
}

main section .info-view .anime-synopsis {
    position: absolute;
    top: 30px;
    left: 120px;
    right: 0;
    bottom: 40px;
}

main section .info-view .anime-rating {
    position: absolute;
    left: 120px;
    right: 0;
    bottom: 0;
    height: 40px;
}

main section .info-view .anime-rating .stars {
    width: 400px;
    height: 40px;
    float: left;
    background-repeat: repeat-x;
    background-image: url("../images/star.svg");
}

main section .info-view .anime-rating .stars .stars-fill {
    background-repeat: repeat-x;
    background-image: url("../images/star-filled.svg");
    height: 100%;
}

main section .info-view .anime-rating .rating-number {
    float: left;
    height: 40px;
}

main section .hidden-edit {
    visibility: hidden;
}

main section.edit .hidden-edit {
    visibility: visible;
}