main .completed {
    overflow: hidden;
    font-family: "Lato-Regular";
    font-size: 4.3vh;
    color: #5B5B5B;
    margin-bottom: 1.8vh;
}

main .completed ul {
    margin-top: -5vh;
}

main .completed ul li.menuElement {
    margin-left: 2.4vh;
    display: block;
    float: right;
    font-family: "Lato-Medium";
    font-size: 4.3vh;
}

main section {
    position: relative;
    overflow: hidden;
    width: 119vh;
    height: 28vh;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 3px 0px rgba(0,0,0,0.24);
    margin-bottom: 2.4vh;
    transition: 0.3s ease;
}

main section.hidden {
    opacity: 0.0;
    overflow: hidden;
    height: 0;
    margin-bottom: 0;
}

main section .cover {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    float: left;
    width: 20.1vh;
    height: 28vh;
}

main section .drop-down-more .more {
    position: absolute;
    left: 114.5vh;
    top: 0;
    background: url("../images/more.svg");
    margin-top: 1vh;
    width: 4vh;
    background-size: cover;
    height: 37px;
    height: 4vh;
    background-repeat: no-repeat;
}

main section .drop-down-more .bubble {
    height: 0;
    overflow: hidden;
    z-index: 100;
}

main section .drop-down-more.show .bubble {
    right: 4.5vh;
    position: absolute;
    margin-top: 5.2vh;
    height: 9.5vh;
    width: 23vh;
    background: white;
    border-radius: 4px;
    border-radius: 0.4vh;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.10), 0px 3px 8px 0px rgba(52,52,52,0.12);
}

main section .drop-down-more.show .bubble .options {
    font-family: "Lato-Regular";
    margin-left: 1.8vh;
    font-size: 2.4vh;
    color: #6D6D6D;
    cursor: pointer;
}

main section .drop-down-more.show .bubble .options:hover {
    color: #020202;
}

main section .drop-down-more.show .bubble .options.edit {
    margin-top: 1.3vh;
}

main section .drop-down-more.show .bubble .options.remove {
    margin-top: 1vh;
}

main section .anime-title {
    position: absolute;
    top: 3vh;
    left: 22.3vh;
    width: 90vh;
    font-family: "Lato-Regular";
    font-size: 3.5vh;
    color: #5B5B5B;
    line-height: 0.8em;
}

main section .anime-title span {
    height: 24px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

main section .anime-title span::after {
    z-index: 105;
    font-size: 15px;
    background: #FDFDF6;
    border-radius: 3px;
    padding: 4px 6px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    color: #1B1B1B;
    left: 500px;
    margin-top: 25px;
    opacity: 0;
    content: attr(data-anime-title);
    position: absolute;
    visibility: hidden;
    transition: 0.5s ease 1.5s;
}

main section .anime-title span:hover::after {
	opacity: 1;
	visibility: visible;
}

main section .synopsis {
    position: absolute;
    top: 6.8vh;
    left: 22.4vh;
    font-family: Lato-Light;
    font-size: 2.58vh;
    width: 91vh;
    color: #626262;
    line-height: 3.2vh;
}

main section .stars {
    position: absolute;
    top: 20vh;
    left: 22vh;
    background-repeat: repeat-x;
    background-image: url("../images/star.svg");
    width: 59vh;
    height: 6vh;
}

main section .stars .stars-fill {
    background-repeat: repeat-x;
    background-image: url("../images/star-filled.svg");
    height: 100%;
}

main section .rating {
    position: absolute;
    top: 21.3vh;
    left: 82vh;
    font-family: "Lato-Regular";
    font-size: 4vh;
    color: #5B5B5B;
    line-height: 4vh;
}

main section .hidden-edit {
    visibility: hidden;
}

main section .hidden-edit textarea {
    z-index: 0;
    border-radius: 0.2vh;
    position: absolute;
    top: 7.5vh;
    left: 23.5vh;
    width: 87.5vh;
    height: 11vh;
    background-color: #fffdfe;
    font-family: "Lato-Light";
    font-size: 18px;
    font-size: 2.6vh;
    font-weight: 100;
    color: #cecece;
    border: 1px solid #E7E7E7;
    padding-left: 8px;
    padding-top: 0.5vh;
    resize: none;
}

main section .hidden-edit input[type="submit"] {
    top: 148px;
    top: 21.5vh;
    left: 686px;
    left: 98.5vh;
    position: absolute;
    width: 14vh;
    height: 5vh;
    border: none;
    border-radius: 0.2vh;
    background-color: #809BBD;
    font-size: 2.5vh;
    font-family: "Lato-Light";
    color: white;
    cursor: pointer;
}

.search {
    position: absolute;
    width: 842px;
    height: 52px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 3px 0px rgba(0,0,0,0.24);
    border-radius: 6px;
}

main section.edit .hidden-edit {
    visibility: visible;
}

main section.no-review {
    width: 119.5vh;
    height: 16.2vh;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 3px 0px rgba(0,0,0,0.24);
    margin-bottom: 2.6vh;
    transition: 0.5s ease;
}

main section.no-review.edit {
    height: 28.4vh;
}

main section.no-review .anime-title {
    top: 14px;
    top: 2.9vh;
    left: 92px;
    left: 14vh;
    transition: 0.4s ease;
}

main section.no-review.edit .anime-title {
    top: 14px;
    top: 2.5vh;
    left: 154px;
    left: 23.5vh;
}

main section.no-review .cover-no-review {
    background-size: contain;
    background-repeat: repeat-y;
    background-position: center;
    float: left;
    width: 80px;
    width: 11.5vh;
    height: 16.2vh;
    transition: 0.5s ease;
    opacity: 1.0;
}

main section.no-review.edit .cover-no-review {
    opacity: 0.0;
}

main section.no-review.edit .cover-no-review-large {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    width: 21vh;
    height: 28.5vh;
    transition: 0.5s ease;
}

main section.no-review .info {
    transition: 0.5s ease;
    opacity: 1.0;
}

main section.no-review.edit .info {
    opacity: 0.0;
}

main section.no-review .stars.stars-no-review {
    width: 70vh;
    height: 7vh;
    top: 8vh;
    left: 13.5vh;
    transition: 0.2s ease;
}

main section.no-review.edit .stars.stars-no-review {
    top: 146px;
    top: 20.5vh;
    width: 64vh;
    height: 6.5vh;
    left: 154px;
    left: 23vh;
}

main section.no-review .rating {
    top: 10vh;
    left: 84.5vh;
    font-size: 4.5vh;
}

main section.no-review.edit .rating {
    top: 154px;
    top: 22vh;
    left: 570px;
    left: 89vh;
}

main .search-icon {
    background: url("../images/search.svg");
    margin-left: 10px;
    margin-top: 8px;
    width: 37px;
    background-size: cover;
    height: 37px;
    background-repeat: no-repeat;
}

main .no-image {
    margin: auto;
    margin-top: 180px;
    background-color: #64D08F;
    width: 300px;
    height: 150px;
}

main .no-text {
    width: 700px;
    font-family: "Lato-Light";
    top: 124px;
    left: 101px;
    position: relative;
    color: #757575;
    font-size: 30px;
}

.search.open {
    height: 500px;
}