main .gray_text {
    position: absolute;
    text-align: center;
    left: 0;
    /* top: 195px; */
    top: 28.1vh;
    font-family: "Lato-Light";
    /* font-size: 36px; */
    font-size: 5.2vh;
    color: #6e6e6e;
    width: 838px;
    width: 121vh;
    height: 76px;
    height: 10vh;
    transition: 0.3s ease;
    opacity: 0.0;
}

main .gray_text.show {
    opacity: 1.0;
}

main .randomize-button {
    font-family: "Lato-Medium";
    box-sizing: border-box;
    /* padding-left: 30px; */
    padding-left: 4.3vh;
    /* line-height: 61px; */
    line-height: 8.8vh;
    /* top: 429px; */
    top: 61.5vh;
    /* left: 317px; */
    left: 45.5vh;
    margin: auto;
    position: absolute;
    /* height: 61px; */
    height: 8.75vh;
    /* width: 203px; */
    width: 29vh;
    background: #64D08F;
    /* border-radius: 3px; */
    border-radius: 0.5vh;
    /* font-size: 23px; */
    font-size: 3.3vh;
    color: #FFFFFF;
    letter-spacing: 0.2px;
    letter-spacing: 0.03vh;
    cursor: pointer;
}

main .drop-down-menu {
    font-family: "Lato-Medium";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* line-height: 56px; */
    line-height: 8vh;
    /* font-size: 18px; */
    font-size: 2.6vh;
    color: #6e6e6e;
    /* position: absolute; */
    /* width: 266px; */
    width: 38.2vh;
    /* height: 56px; */
    height: 8vh;
    background: #FCFCFC;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 3px 0px rgba(0, 0, 0, 0.24);
    /* border-radius: 4px; */
    border-radius: 0.4vh;
    transition: 0.3s ease;
    overflow: hidden;
    cursor: pointer;
}

main .drop-down-menu ul {
    /* width: 262px; */
    width: 37.6vh;
    height: 292px;
    height: 42vh;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

@-moz-document url-prefix() {
    main .drop-down-menu ul {
        width: 400px;
    }
}

main .drop-down-menu ul::-webkit-scrollbar {
    /* width: 6px; */
    width: 0.9vh;
}

main .drop-down-menu ul::-webkit-scrollbar-thumb {
    background-color: #BABABA;
    border-top: 3px solid white;
    border-bottom: 4px solid white;
}

main .drop-down-menu ul li {
    /* height: 57px; */
    height: 8.2vh;
    /* padding-left: 20px; */
    padding-left: 3.1vh;
    display: block;
}

main .drop-down-menu .title {
    position: relative;
    /* padding-left: 20px; */
    padding-left: 3vh;
    box-sizing: border-box;
    /* height: 57px; */
    height: 8.3vh;
    border-bottom: 1px solid #D5D4D4;
}

main .drop-down-menu .title::after {
    content: ' ';
    position: absolute;
    /* right: 20px; */
    right: 3vh;
    /* top: 25px; */
    top: 3.6vh;
    border-width: 6px;
    border-width: 1.0vh;
    border-color: #5B5B5B rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0.0);
    border-style: solid;
}

main .drop-down-menu.open {
    /* height: 348px; */
    height: 50vh;
}

main /*.drop-down-menu*/ #genre {
    position: absolute;
}

main /*.drop-down-menu*/ #year {
    position: absolute;
    /* left: 285px; */
    left: 41vh;
}

main /*.drop-down-menu*/ #rating {
    position: absolute;
    /* left: 572px; */
    left: 82vh;
}

main .info {
    transition: 0.5s ease;
    opacity: 0.0;
}

main .info.show {
    opacity: 1.0;
}

main .info .image {
    background-size: contain;
    background-position: center;
    /* width: 186px; */
    width: 26.8vh;
    /* height: 289px; */
    height: 38vh;
    position: absolute;
    /* left: 19px; */
    left: 2.7vh;
    /* top: 101px; */
    top: 15vh;
    background-repeat: no-repeat;
}

main .info .title {
    color: #383838;
    font-family: "Lato-Regular";
    position: absolute;
    /* top: 98px; */
    top: 14.1vh;
    left: 257px;
    left: 36.9vh;
    /* right: 27px; */
    right: 4vh;
    height: 50px;
}

main .info .title .wrap {
    position: relative;
    left: 0px;
}

main .info .title span {
    white-space: nowrap;
    font-weight: 400;
    font-size: 40px;
    color: #5B5B5B;
}

main .info .synopsis {
    overflow-y: scroll;
    font-family: "Lato-Light";
    position: absolute;
    /* left: 260px; */
    left: 37.2vh;
    /* top: 155px; */
    top: 22.5vh;
    /* width: 543px; */
    width: 78vh;
    height: 176px;
    height: 25.6vh;
    color: #626262;
    font-size: 18px;
    font-size: 2.58vh;
    font-weight: 300;
    /* padding-right: 10px; */
    padding-right: 1.5vh;
}

main .info .synopsis::-webkit-scrollbar {
    width: 6px;
}

main .info .synopsis::-webkit-scrollbar-thumb {
    background-color: #BABABA;
    border-top: 3px solid white;
    border-bottom: 4px solid white;
}

main .info .rating {
    color: #5B5B5B;
    padding-left: 7vh;
    background-repeat: no-repeat;
    width: 101px;
    height: 39px;
    font-family: "Lato-Medium";
    font-size: 4vh;
    position: absolute;
    left: 37.3vh;
    top: 51.5vh;
}

main .info .rating::before {
	background-size: cover;
	background-repeat: no-repeat;
	top: -0.5vh;
	position: absolute;
	left: 0.4vh;
	content: " ";
	transition: 0.2s ease;
	background-image: url("../images/index-star.svg");
	width: 5vh;
	height: 5vh;
}

main .info .love {
    position: absolute;
    /* left: 728px; */
    left: 104.5vh;
    /* top: 361px; */
    top: 52vh;
}

main .info .love .love-button {
    position: relative;
    color: #5B5B5B;
    /* font-size: 27px; */
    font-size: 4vh;
    font-family: "Lato-Medium";
    transition: 0.2s ease;
}

main .info .love .love-button:hover {
    color: #232323;
}


main .info .love .love-button::before {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/heart.svg");
/*     width: 35px; */
    width: 5vh;
    height: 31px;
    height: 4.5vh;
    position: absolute;
    /* left: -45px; */
    left: -6.6vh;
    content: " ";
    transition: 0.2s ease;
}

main .info .love .love-button:hover::before {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/heart-fill.svg");
/*     width: 35px; */
    width: 5vh;
/*     height: 31px; */
    height: 4.5vh;
    position: absolute;
/*     left: -45px; */
    left: -6.6vh;
    content: " ";
}

main .info .love .bubble {
    height: 0;
    overflow: hidden;
}

main .info .love.show .bubble {
    /* margin-top: 12px; */
    margin-top: 1.2vh;
    /* height: 71px; */
    height: 10.2vh;
    /* width: 158px; */
    width: 22.5vh;
    background: white;
    /* border-radius: 4px; */
    border-radius: 0.2vh;
    box-shadow: 0vh 0.2vh 1vh 0vh rgba(0,0,0,0.10), 0vh 0.5vh 1.1vh 0vh rgba(52,52,52,0.12);
    /* margin-left: -74px; */
    margin-left: -10.4vh;
}

main .info .love.show .bubble .add-to {
    font-family: "Lato-Regular";
    /* margin-left: 12px; */
    margin-left: 1.7vh;
    /* font-size: 17px; */
    font-size: 2.5vh;
    color: #6D6D6D;
    cursor: pointer;
}

main .info .love.show .bubble .add-to:hover {
    color: #020202;
}

main .info .love.show .bubble .add-to.add-to-plan-to-watch {
    /* margin-top: 11px; */
    margin-top: 1.5vh;
}

main .info .love.show .bubble .add-to.add-to-completed {
    /* margin-top: 7px; */
    margin-top: 1vh;
}

main .info .title span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* font-size: 40px; */
    font-size: 5.7vh;
}

main .info .title span::after {
    z-index: 105;
	font-size: 15px;
	background: #FDFDF6;
	border-radius: 3px;
	padding: 4px 6px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
	color: #1B1B1B;
	left: 335px;
	margin-top: 55px;
	opacity: 0;
	content: attr(anime-title);
	position: absolute;
	visibility: hidden;
	transition: 0.5s ease 1.5s;
}

main .info .title span:hover::after {
	opacity: 1;
	visibility: visible;
}