@font-face {
    font-family: "Lato-Light";
    src: url('../lato/fonts/Lato-Light.woff');
}

@font-face {
    font-family: "Lato-Regular";
    src: url('../lato/fonts/Lato-Regular.woff');
}

@font-face {
    font-family: "Lato-Medium";
    src: url('../lato/fonts/Lato-Medium.woff');
}

@font-face {
    font-family: "Lato-Black";
    src: url('../lato/fonts/Lato-Black.woff');
}

body {
    margin: 0;
    max-width: 1366px;
}

h1 {
    font-family: "Lato-Black";
    margin-bottom: 70px;
    line-height: 53px;
    margin-top: 18px;
    margin-left: 30px;
    font-weight: 900;
    font-size: 53px;
    color: #64D08F;
}

main {
    position: relative;
    height: 498px;
    width: 838px;
    margin: auto;
    margin-top: 0;
}

.gray_text {
    position: absolute;
    text-align: center;
    left: 0;
    top: 195px;
    font-family: "Lato-Light";
    font-size: 36px;
    color: #6e6e6e;
    width: 838px;
    height: 76px;
    transition: 0.3s ease;
    opacity: 0.0;
}

.gray_text.show {
    opacity: 1.0;
}

.button {
    font-family: "Lato-Medium";
    box-sizing: border-box;
    padding-left: 30px;
    line-height: 61px;
    top: 429px;
    left: 317px;
    margin: auto;
    position: absolute;
    height: 61px;
    width: 203px;
    background: #64D08F;
    border-radius: 3px;
    font-size: 23px;
    color: #FFFFFF;
    letter-spacing: 0.2px;
    cursor: pointer;
}

.drop-down-menu {
    font-family: "Lato-Medium";
    font-weight: 700;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 56px;
    font-size: 18px;
    color: #6e6e6e;
    position: absolute;
    width: 266px;
    height: 56px;
    background: #FCFCFC;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 3px 0px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    transition: 0.3s ease;
    overflow: hidden;
    cursor: pointer;
}

.drop-down-menu ul {
    width: 262px;
    height: 292px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

@-moz-document url-prefix() {
    .drop-down-menu ul {
        width: 400px;
    }
}

.drop-down-menu ul::-webkit-scrollbar {
    width: 6px;
}

.drop-down-menu ul::-webkit-scrollbar-thumb {
    background-color: #BABABA;
    border-top: 3px solid white;
    border-bottom: 4px solid white;
}

.drop-down-menu ul li {
    height: 57px;
    padding-left: 20px;
    display: block;
}

.drop-down-menu .title {
    position: relative;
    padding-left: 20px;
    box-sizing: border-box;
    height: 57px;
    border-bottom: 1px solid #D5D4D4;
}

.drop-down-menu .title::after {
    content: ' ';
    position: absolute;
    right: 20px;
    top: 25px;
    border-width: 6px;
    border-color: #5B5B5B rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0.0) rgba(0, 0, 0, 0.0);
    border-style: solid;
}

.drop-down-menu.open {
    height: 348px;
}

#genre {
    position: absolute;
}

#year {
    position: absolute;
    left: 285px;
}

#rating {
    position: absolute;
    left: 572px;
}

.info {
    transition: 0.5s ease;
    opacity: 0.0;
}

.info.show {
    opacity: 1.0;
}

.info .image {
    background-size: cover;
    background-position: center;
    width: 186px;
    height: 289px;
    position: absolute;
    left: 19px;
    top: 101px;
}

.info .title {
    font-family: "Lato-Regular";
    position: absolute;
    left: 260px;
    top: 98px;
    font-weight: 400;
    font-size: 40px;
    color: #5B5B5B;
}

.info .synopsis {
    font-family: "Lato-Light";
    position: absolute;
    left: 260px;
    top: 153px;
    width: 547px;
    height: 168px;
    color: #626262;
    font-size: 18px;
    font-weight: 300;
}

.info .rating {
    padding-top: 3px;
    color: #5B5B5B;
    background-image: url("../images/star.svg");
    background-repeat: no-repeat;
    padding-left: 49px;
    width: 101px;
    height: 39px;
    font-family: "Lato-Medium";
    font-size: 27px;
    position: absolute;
    left: 260px;
    top: 358px;
}

.info .heart {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/heart.svg");
    width: 39px;
    height: 39px;
    position: absolute;
    left: 680px;
    top: 358px;
}

.info .love {
    color: #5B5B5B;
    font-size: 27px;
    font-family: "Lato-Medium";
    position: absolute;
    left: 728px;
    top: 361px;
}

.login {
    position: absolute;
    top: 55px;
    height: 0;
    width: 297px;
    left: 1035px;
    z-index: 100;
    /*display: none;*/
    opacity: 0.0;
    transition: 0.3s ease;
    border-radius: 3px;
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.10), 0px 14px 30px 0px rgba(52,52,52,0.12), 0px 5px 12px 0px rgba(52,52,52,0.03);
}

.login.show {
    opacity: 1.0;
    height: 250px;
}

.login-background {
    overflow: hidden;
    background: #FCFCFC;
    width: 100%;
    height: 100%;
}

.triangle-background {
    left: 225px;
    top: -325px;
    width: 75px;
    height: 75px;
    position: relative;
    overflow: hidden;
}

.triangle:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: white;
    transform: rotate(45deg);
    top: 75px;
    left: 25px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.10);
}

input[type="text"], input[type="password"] {
    width: 230px;
    height: 37px;
    background-color: #fffdfe;
    font-family: "Lato-Light";
    font-size: 18px;
    font-weight: 100;
    padding-left: 10px;
    color: #cecece;
    border-radius: 3px;
    border: 1px solid #E7E7E7;
    position: relative;
    margin-bottom: 13px;
    left: 26px;
    top: 40px;
}

input[type="submit"] {
    position: relative;
    left: 26px;
    top: 40px;
    width: 243px;
    height: 35px;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    font-family: "Lato-Light";
    background-color: #809BBD;
}

.sign-in {
    margin-left: 115px;
    position: relative;
    top: 23px;
    font-family: "Lato-Medium";
    color: #6D6D6D;
    font-size: 24px;
    line-height: 24px;
}

.login-text {
    font-family: "Lato-Regular";
    color: #6D6D6D;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    top: 15px;
    left: 1285px;
    z-index: 101;
    cursor: pointer;
}

.login-text:hover {
    color: #020202;
}