.auth {
    position: absolute;
    top: 15px;
    right: 20px;
    text-align: right;
}

.auth .auth-text {
    width: 400px;
    font-family: "Lato-Regular";
    color: #6D6D6D;
    font-size: 22px;
    line-height: 22px;
    z-index: 101;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.auth .auth-text a {
    top: 15px;
    text-decoration: none;
    font-family: "Lato-Regular";
    color: #6D6D6D;
    margin-left: 25px;
    font-size: 22px;
    line-height: 22px;
    z-index: 101;
    cursor: pointer;
}

.auth .auth-text a:hover {
    color: #020202;
}

.auth .auth-bubble {
    position: relative;
    top: 40px;
    left: 0;
    width: 297px;
    height: 0;
    z-index: 100;
    opacity: 0.0;
    transition: 0.3s ease;
    border-radius: 3px;
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.10), 0px 14px 30px 0px rgba(52,52,52,0.12), 0px 5px 12px 0px rgba(52,52,52,0.03);
}

.auth[section] .auth-bubble {
    opacity: 1.0;
    background: #FCFCFC;
}

.auth[section=login] .auth-bubble {
    height: 250px;
}

.auth[section=signup] .auth-bubble {
    height: 360px;
}

.auth .auth-bubble .section {
    transition: 0.5s ease;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.0;
    z-index: -100;
}

.auth[section=login] .auth-bubble .section.login,
.auth[section=signup] .auth-bubble .section.signup {
    opacity: 1.0;
    z-index: 0;
}

.auth .auth-bubble .section .title {
    margin-top: 20px;
    font-family: "Lato-Medium";
    font-size: 24px;
    line-height: 24px;
    color: #6D6D6D;
    text-align: center;
}

.auth .auth-bubble .section form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.auth .auth-bubble .section form input[type="text"],
.auth .auth-bubble .section form input[type="email"],
.auth .auth-bubble .section form input[type="password"] {
    width: 230px;
    height: 37px;
    border-radius: 3px;
    margin-bottom: 13px;
    padding-left: 10px;
    background-color: #fffdfe;
    font-family: "Lato-Light";
    font-size: 18px;
    font-weight: 100;
    color: #cecece;
    border: 1px solid #E7E7E7;
}

.auth .auth-bubble .section form input[type="submit"] {
    width: 243px;
    height: 35px;
    border: none;
    border-radius: 3px;
    background-color: #809BBD;
    font-size: 18px;
    font-family: "Lato-Light";
    color: white;
    cursor: pointer;
}

.auth .auth-bubble .section .goto-button {
    position: absolute;
    right: 28px;
    bottom: 13px;
    font-family: "Lato-Medium";
    color: #6D6D6D;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    opacity: 0.8;
}

.auth .auth-bubble .section .goto-button:hover {
    opacity: 1.0;
}

.auth .auth-bubble .triangle {
    position: absolute;
    overflow: hidden;
    top: -75px;
    left: 225px;
    width: 75px;
    height: 75px;
}

.auth .auth-bubble .triangle::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: white;
    transform: rotate(45deg);
    top: 75px;
    left: 25px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.10);
}
