main .plan_to_watch {
    font-family: "Lato-Regular";
    font-size: 2.1vw;
    color: #5B5B5B;
    margin-bottom: 0.8vw;
}

main section {
    position: relative;
    height: 8vw;
    background: #FFFFFF;
    box-shadow: 0 0 0.3vh 0 rgba(0,0,0,0.12), 0 0.3vh 0.4vh 0 rgba(0,0,0,0.24);
    border-radius: 0.1vw;
    margin-bottom: 1.2vw;
    /* transition: 0.3s ease; */
}

main section.hidden {
    opacity: 0.0;
    overflow: hidden;
    height: 0;
    margin-bottom: 0;
}

main section .cover {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    width: 5.7vw;
    height: 8vw;
    transition: 0.5s ease;
    opacity: 1.0;
}

main section .info {
    float: left;
    width: 50vw;
}

main section .info .drop-down-more .more {
    top: 0.6vw;
    position: absolute;
    left: 57.1vw;
    background: url("../images/more.svg");
    width: 2vw;
    background-size: cover;
    height: 2vw;
    background-repeat: no-repeat;
    transition: 0.2s ease;
    cursor: pointer;
    opacity: 0.0;
}

main section:hover .info .drop-down-more .more {
    opacity: 1.0;
}

main section .info .drop-down-more .bubble {
    height: 0;
    overflow: hidden;
}

main section .info .drop-down-more.show .bubble {
    z-index: 100;
    right: 2.2vw;
    position: absolute;
    margin-top: 1vw;
    height: 4.5vw;
    width: 12vw;
    background: white;
    border-radius: 0.1vw;
    box-shadow: 0 0.1vh 0.7vh 0 rgba(0,0,0,0.10), 0 0.3vh 1vh 0 rgba(52,52,52,0.12);
}

main section .info .drop-down-more.show .bubble .options {
    font-family: "Lato-Regular";
    margin-left: 0.7vw;
    font-size: 1.2vw;
    margin-bottom: 0.2vh;
    color: #6D6D6D;
    cursor: pointer;
}

main section .info .drop-down-more.show .bubble .options:hover {
    color: #020202;
}

main section .info .drop-down-more.show .bubble .options.move {
    margin-top: 0.7vw;
}

main section .info .drop-down-menu.show .bubble .options.remove {
    margin-top: 1vh;
}

main section .info .anime-title {
    padding-left: 2.4vh;
    margin-top: 1.5vw;
    /* width: 50vw; */
    font-family: "Lato-Regular";
    font-size: 1.8vw;
    color: #5B5B5B;
    line-height: 0.8em;
}

main section .info .stars {
    margin-top: 0.8vw;
    margin-left: 0.9vw;
    background-repeat: repeat-x;
    background-image: url("../images/star.svg");
    width: 34.7vw;
    height: 3.5vw;
    /* left: 17.5vw; */
    transition: 0.2s ease;
}

main section .info .stars .stars-fill {
    background-repeat: repeat-x;
    background-image: url("../images/star-filled.svg");
    height: 100%;
}

main section .info .rating {
    position: absolute;
    margin-top: -2.7vw;
    margin-left: 36.3vw;
    font-family: "Lato-Regular";
    font-size: 1.9vw;
    color: #5B5B5B;
}

.go_to_search {
    margin: 4vh auto 0 auto;
    line-height: 6.5vh;
    text-align: center;
    border-radius: 0.3vh;
    width: 18vh;
    height: 6.5vh;
    background: #64D08F;
    color: white;
    font-family: "Lato-Regular";
    display: block;
    font-size: 2.5vh;
    text-decoration: none;
}

.no-image {
    margin: -2vh auto;
    height: 28vh;
    width: 29vh;
    background-size: cover;
    background-image: url(http://data.whicdn.com/images/11666052/original.jpg);
}

.no-text {
    margin: 4.5vh auto 0 auto;
    text-align: center;
    width: 114vh;
    font-family: "Lato-Light";
    color: #777777;
    font-size: 3.4vh;
}

.plus {
    background-image: url("../images/plus.svg");
    width: 2vw;
    height: 2vw;
    top: 0.8vw;
    right: 0;
    position: absolute;
    background-size: cover;
    opacity: 0.7;
}