{% extends "base.html" %}

{% block css %}
  {{ parent() }}
  <link rel="stylesheet" href="/css/completed.css">
{% endblock %}

{% block main %}
  {% if authorized %}
    {% if completed_list is not empty %}
      <div class="completed">
        Completed
        <ul>
          <li class="menuElement" data-tab="reviewed">Reviewed</li>
          <li class="active menuElement" data-tab="unreviewed">Unreviewed</li>
        </ul>
      </div>
      <a href="/search">
        <div class="plus"></div>
      </a>
      <div id="container">
        <div id="reviewed">
          {% if has_reviewed_animes %}
            {% for review in completed_list %}
              {% if review.review is not empty %}
                <section>
                  <div class="cover" style="background-image:url({{ review.anime.image }})"></div>
                  <div class="drop-down-more">
                    <div class="more"></div>
                    <div class="bubble">
                      <div class="options edit">Edit review</div>
                      <div class="options remove" data-anime-id="{{ review.anime._id }}">Remove from list</div>
                  </div>
                  </div>
                  <div class="anime-title">
                    <span>{{ review.anime.title }}</span>
                  </div>
                  <div class="synopsis">{{ review.review }}</div>
                  <div class="stars">
                    <div class="stars-fill" style="width: {{ review.rating * 10 }}%"></div>
                  </div>
                  <div class="rating">{{ review.rating }}</div>
                  <form class="hidden-edit">
                    <div class="stars stars-no-review" data-checked="{{ review.rating }}">
                      <div class="stars-fill"></div>
                      <input type="radio" name="rating" value="1">
                      <input type="radio" name="rating" value="2">
                      <input type="radio" name="rating" value="3">
                      <input type="radio" name="rating" value="4">
                      <input type="radio" name="rating" value="5">
                      <input type="radio" name="rating" value="6">
                      <input type="radio" name="rating" value="7">
                      <input type="radio" name="rating" value="8">
                      <input type="radio" name="rating" value="9">
                      <input type="radio" name="rating" value="10">
                    </div>
                    <input type="hidden" name="anime" value="{{ review.anime._id }}">
                    <textarea name="review" placeholder="napishi svoe voshititelnoe mnenie"></textarea>
                    <input type="submit" value="Davai">
                  </form>
                </section>
              {% endif %}
            {% endfor %}
          {% else %}
          <div class="no-image"></div>
          <div class="no-text">You don't have any reviews! You can change that by adding a comment in the Unreviewed section. Your friends should know your opinion!</div>
          <a href="/search" class="go_to_search">SEARCH</a>
          {% endif %}
        </div>
        <div id="unreviewed">
          {% if has_unreviewed_animes %}
            {% for review in completed_list %}
              {% if review.review is empty %}
                <section class="no-review">
                  <div class="cover-no-review" style="background-image:url({{ review.anime.image }})"></div>
                  <div class="cover-no-review-large" style="background-image:url({{ review.anime.image }})"></div>
                  <div class="drop-down-more">
                    <div class="more"></div>
                    <div class="bubble">
                      <div class="options edit">Edit review</div>
                      <div class="options remove" data-anime-id="{{ review.anime._id }}">Remove from list</div>
                    </div>
                  </div>
                  <div class="anime-title">
                    <span>{{ review.anime.title }}</span>
                  </div>
                  <div class="rating">{{ review.rating }}</div>
                  <form class="hidden-edit">
                    <div class="stars stars-no-review" data-checked="{{ review.rating }}">
                      <div class="stars-fill"></div>
                      <input type="radio" name="rating" value="1">
                      <input type="radio" name="rating" value="2">
                      <input type="radio" name="rating" value="3">
                      <input type="radio" name="rating" value="4">
                      <input type="radio" name="rating" value="5">
                      <input type="radio" name="rating" value="6">
                      <input type="radio" name="rating" value="7">
                      <input type="radio" name="rating" value="8">
                      <input type="radio" name="rating" value="9">
                      <input type="radio" name="rating" value="10">
                    </div>
                    <input type="submit" value="Blyad">
                    <input type="hidden" name="anime" value="{{ review.anime._id }}">
                    <textarea name="review" placeholder="napishi svoe ebanoe mnenie"></textarea>
                  </form>
                </section>
              {% endif %}
            {% endfor %}
          {% else %}
            <div class="no-image"></div>
            <div class="no-text">Your unreviewed list is empty! Either you were a good boy and left a comment about every single title, or you just haven't added anything yet. If you want to add something here, use the search function.</div>
            <a href="/search" class="go_to_search">SEARCH</a>
          {% endif %}
        </div>
      </div>
    {% else %}
      <div class="completed">Completed</div>
      <div class="no-image"></div>
      <div class="no-text">You haven't added anything to the "Plan to watch" list. You're not a true weeb! A true weeb should watch at least one title a day. Just use the search.</div>
      <a href="/search" class="go_to_search">SEARCH</a>
    {% endif %}
  {% else %}
      <div class="no-auth-text"></div>
      <div class="no-auth-image"></div>
  {% endif %}
{% endblock %}

{% block js %}
  {{ parent() }}
  <script src="/js/completed.js"></script>
{% endblock %}