<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/completed.css">
    <link rel="stylesheet" href="../css/login.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <title>Completed</title>
    <script src="../js/completed.js"></script>
    <script src="../js/login.js"></script>
</head>
<body>
    <div class="anirandom-title">
        <a href="/">Anirandom</a>
    </div>
        {% if authorized %}
            <div class="auth">
                <div class="auth-text">
                    <a href="/plan_to_watch">Plan to watch</a>
                    <a class="auth-button" data-target="logout">{{ username }}</a>
                </div>
                <div class="auth-bubble initial-width-180px">
                    <div class="wrap">
                        <a class="logout-text" href="/logout">Log out</a>
                    </div>
                    <div class="triangle"></div>
                </div>
            </div>
        <main>
            {% if completed_list %}
                <div class="completed">Completed</div>
                {% for review in completed_list %}
                    <section>
                        <div class="cover" style="background-image:url({{ review.anime.image }})"></div>
                        <div class="info">
                            <div class="drop-down-more">
                                <div class="more"></div>
                                <div class="bubble">
                                    <div class="options edit">Edit review</div>
                                    <div class="options remove">Remove from list</div>
                                </div>
                            </div>
                            <div class="anime-title">
                                <span>{{ review.anime.title }}</span>
                            </div>
                            <div class="synopsis">{{ review.review }}</div>
                            <div class="stars">
                                <div class="stars-fill" style="width: {{ review.rating * 10 }}%"></div>
                            </div>
                            <div class="rating">{{ review.rating }}</div>
                        </div>
                    </section>
                {% endfor %}
            {% else %}
                <div class="search"><div class="search-icon"></div></div>
                <div class="no-text">Ty pidor i nichego ne dobavil. Kogda reshish chtot zahuyarit' v spisok, ne petushis', skin' druziashkam, chtoby posmotreli i zasrali tvoi ubogie vkusi. Prosto skin' im svoi id, i oni smogut nachat' vyebyvat'sya.</div>
                <div class="no-image"></div>
            {% endif %}
        {% else %}
            <div class="no-auth-text"></div>
            <div class="no-auth-image"></div>
        {% endif %}
    </main>
</body>
</html>